body, html{
    background: url(../image/placeholder.png) no-repeat right, #1A1A1A;
    background-size: contain;
    background-position: top right;
    padding: 0;
    margin: 0;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
body>img{
    width: 100%;
}
.container>img{
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 35px 0;
}
.logo img:first-child{
    width: 25px;
}
.list{
    width: 292px;
    display: flex;
    justify-content: space-around;
}
.list a{
    font-family: 'Barlow';
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.list a:hover{
    color: #34C759;
}
.list>div{
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    min-width: 160px;
    z-index: 1;
    text-align: center;
    left: -200%;
}
.menu-content a {
    color: rgb(142, 190, 121);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-content a:hover {
    background-color: #737373;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.menu:hover .menu-content {
    display: block;
}
.container>h1{
    font-family: 'Barlow';
    font-weight: 100;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.container h1 b{
    font-family: 'Barlow';
}
.container p{
    font-family: 'Barlow';
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.7;
}
.order{
    margin: 40px auto 70px auto;
    text-align: center;
}
.order button{
    background: #34C759;
    border-radius: 43px;
    width: 200px;
    border: none;
    padding: 25px;
}
.order a{
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #1A1A1A;
    text-decoration: none;
}
.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 164px ;
}
.info div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img{
    width: 26px;
}
.info p{
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 30px;
}
.info span{
    font-family: 'Barlow';
    font-size: 14px;
    line-height: 60px;
    display: flex;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    color: white;
}
.info a{
    text-decoration: none;
    color: white;
}
.info a:hover{
    text-decoration: underline;
}
.about_food{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: url(../image/placeholder_gray.png);
}
.about_food p{
    width: 70%;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #A6A6A6;
}
.container_slider_css{margin:50px auto;width:500px;height:300px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}
.work{
    display: flex;
    align-items: center;
}
.work img:nth-child(1){
    margin: 60px auto;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.cards div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 200px;
    padding: 24px;
}
.cards img{
    width: 56px;
}
.cards p{
    font-family: 'Barlow';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
.cards div:hover{
    background: #34C759;
    border-radius: 6px;
    color: #000000;
}
.rating{
    display: inline-flex;
    flex-direction: row-reverse;
    padding-bottom: 25px;
}
.rating img:hover{
    content: url(../image/star_2.png);
}
.rating img:hover, .rating img:hover~img{
    content: url(../image/star2_2.png);
}
.product_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product_cards>div{
    display: flex;
    flex-direction: column;
    width: 350px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 30px;
}
.product_info{
    padding: 30px;
}
.product_info h1{
    font-family: 'Barlow';
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
}
.product_info p:nth-child(2){
    font-family: 'Barlow';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
    text-align: left;
}
.product_info p:nth-child(3){
    font-family: 'Helvetica Neue';
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
    text-align: left;
}
.click{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}
.button:hover{
    background: #34C759;
    font-family: 'Barlow';
    color: #252525;
}
.chefs>div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.months_chefs>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chef_name{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15px;
}
.months_chefs div img{
    height: 65px;
    padding: 10px;
}
.months_chefs div p:first-child{
    font-family: 'Barlow';
    font-size: 18px;
    line-height: 3;
    letter-spacing: -0.225px;
    color: #FFFFFF;
    text-align: left;
}
.months_chefs div p:last-child{
    font-size: 12px;
    line-height: 0;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
.apps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.apps>div{
    background: #252525;
    border-radius: 6px;
    width: 30%;
    margin-bottom: 120px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #303030;
    margin: 25px;
}
.name{
    display: flex;
    flex-direction: row;
}
.name img{
    padding-right: 25px;
    height: 40px;
}
article{
    padding: 25px;
}
article p:first-child{
    font-family: 'Barlow';
    font-size: 14px;
    line-height: 30px;
    color: #737373;
    text-align: left;
}
article p:nth-child(2){
    font-family: 'Barlow';
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
}
article p:nth-child(3){
    color: #34C759;
    text-align: left;
}
footer{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.info p{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
footer .info{
    width: 70%;
    padding: 40px 15%;
    border-bottom: 1px solid #303030;
}
.footer_logo{
    margin:40px auto ;
    font-size: 12px;
    text-align: center;
    color: #737373;
}
.hamburger-menu{
    display: none;
}

@media (max-width: 1110px){
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.list{
    display: none;
}
.hamburger-menu{
    display: block;
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex; 
    align-items: center;
    position: fixed;
    top:5%;
    left: 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: auto;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #1A1A1A;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  .menu__box a{
    color: rgb(142, 190, 121);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .menu__box li:hover{
    background-color: #737373;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.container>img{
    width: 100%;
}
.info{
    padding-bottom: 20px;
}
.work{
    flex-direction: column;
}
.cards{
    flex-wrap: wrap;
}
.cards div{
    width: 35%;
    margin: 0 10px 10px 0;
    padding: 24px;
}
.product_cards>div{
    width: 100%;
}
.chefs>div{
    flex-direction: column;
}
.apps{
    flex-direction: column;
}
.apps>div {
    width: 100%;
    margin-bottom: 20px;
}
}
.modal, .callBack{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
.modal:target, .callBack:target{
    opacity: 1;
	  pointer-events: auto; 
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 250px auto; 
  }
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    background-color: #616161;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgb(0, 255, 47);
  }
}
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
.close:focus, .close:hover {
    color:#A4A8B2;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
.modal h3, .callBack h3{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.626);
}
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
.modal-body input{
    background-color:#A6A6A6;
    border: none;
    padding: 5px;
    margin: 10px;
}
.modal-body input:focus{
    background-color: white;
    color: white;
}
.modal-action{
    display: flex;
    justify-content: right;
}
.modal-action button{
    margin: 20px;
    border: none;
    background: #616161;
}
.modal-action button:hover{
    text-decoration: underline;
}
.modal-action a{
    font-family: 'Barlow';
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.3);
}
.modal-action a:hover{
    text-decoration: underline;
    opacity: 1;
    color: white;
}