body, html{
    margin: 0;
    padding: 0;
    width: 1440px;
    background: url(../image/placeholder.png) no-repeat;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 35px 0;
}
.logo img:first-child{
    width: 25px;
}
.menu{
    width: 292px;
    display: flex;
    justify-content: space-around;
}
.menu a{
    font-family: 'Barlow';
    font-size: 14px;
    color: #34C759;
    text-decoration: none;
}
.container>h1{
    font-family: 'Barlow';
    font-weight: 100;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.container h1 b{
    font-family: 'Barlow';
}
.container p{
    font-family: 'Barlow';
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.7;
}
.green_button{
    position: relative;
    width: 220px;
    height: 72px;
    padding: 40px 510px 70px 510px;
}
.green_button img{
    position: relative;

}
.green_button p{
    position: absolute;
    left: 568px;
    top: 46px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #1A1A1A;
    opacity: 1;
}